<div ng-controller="BaseCtrl">
    <div ng-class="css('rowFluid')" class="page-header edit-header">
        <div class="header-lhs col-sm-8 span8">
            <h4>{{modelNameDisplay}} :
                <span ng-repeat="field in listSchema">{{getListData(record, field.name)}} </span>
            </h4>
        </div>
        <div class="header-rhs col-sm-2 span2">
            <div form-buttons></div>
        </div>
    </div>
    <div class="container-fluid page-body edit-body">
        <error-display></error-display>
        <form-input name="baseForm" schema="baseSchema()" formstyle="compact"></form-input>
    </div>
</div>
