**/.DS_Store
.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.bower-cache
.bower-registry
.bower-tmp
.tmp
.bower.json
generated
bower_components
node_modules
.idea
typings
js/**/*.js
js/**/*.d.ts
js/**/*.map
server/**/*.js
server/**/*.map

test_out/*
PhantomJS_1.9.8_(Linux_0.0.0)/test_out/unit.xml
PhantomJS_1.9.8_(Mac_OS_X_0.0.0)/test_out/unit.xml

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.*~

pids
logs
results

npm-debug.log
