**/.DS_Store
.DS_Store
nbproject
manifest.mf
build.xml

.project
.settings
.bower-cache
.bower-registry
.bower-tmp
.tmp
generated
bower_components
config
dist
fonts
js
less
scripts
node_modules
template
test
.idea

test_out/*

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.*~

pids
logs
results

npm-debug.log
