.form-horizontal.compact .control-group {
    margin-bottom: 2px;
}

.form-horizontal.compact hr {
    margin: 8px 0;
}

.form-horizontal button.form-btn {
    width: 8em;
    height: 2em;
}

.form-horizontal .schema-head {
     margin-top: 15px;
     margin-bottom: 5px;
     border: 1px solid #ddd;
     padding: 4px 180px;
}

.form-horizontal .sub-doc {
    padding: 5px 0;
    margin-bottom: 3px;
}

.form-horizontal .sub-doc-btns {
    margin-left: 15px;
}

.form-horizontal .schema-foot {
    padding: 5px 180px;
    margin: 5px 0;
}

.form-horizontal input[type="checkbox"].ng-invalid-required:after {
    content:"*";
    font-weight: bold;
    color: red;
/* padding-left is too small at 12 if inline help is not used*/
    padding-left: 12px
}

.form-horizontal input.ng-invalid-required {
    background-color: rgba(255, 0, 0, 0.10);
}

.global-search {
    position : relative;
}

.search-results {
    z-index: 3;
    border: 1px solid gray;
    position: absolute;
    top: 41px;
    right: 0;
    -webkit-box-shadow: 10px 10px 10px #888;
    box-shadow: 10px 10px 10px #888;
    background: white;
    padding: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.form-horizontal .fng-select2 {
    width: 220px;
}

/* This section from https://github.com/t0m/select2-bootstrap-css */

.form-horizontal .select2-container {
    vertical-align:middle;
}

.form-horizontal .select2-container .select2-choice {
    border:1px solid #ccc;
    height:28px;
    border-radius: 3px;
    line-height: 29px;
    background-image:none;
    filter:none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-horizontal .select2-container .select2-choice div {
    border-left:none;
    background:none;
    background-image:none;
    filter:none;
}

.form-horizontal .select2-container-multi .select2-choices {
    border:1px solid #ccc;
    border-radius: 3px;
    background-image:none;
    filter:none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-horizontal .control-group.error .select2-container-multi .select2-choices {
    border-color:#B94A48;
}

.form-horizontal .control-group.error .select2-container .select2-choice {
    border-color:#B94A48;
}

.form-horizontal .control-group.fng-invalid-required .select2-container .select2-choice {
    background-color: rgba(255, 0, 0, 0.10);
}

.form-horizontal .select2-container-multi .select2-choices .select2-search-field {
    height:28px;
    line-height: 27px;
}

.form-horizontal .select2-container-active .select2-choice,
.form-horizontal .select2-container-active .select2-choices,
.form-horizontal .select2-container-multi.select2-container-active .select2-choices {
    border-color: rgba(82, 168, 236, 0.8);
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
}

.form-horizontal .input-append .select2-container, .input-prepend .select2-container {
    font-size:14px;
}

.form-horizontal .input-prepend .select2-container > a.select2-choice,
.form-horizontal .input-prepend .select2-container-multi .select2-choices {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-horizontal .input-append .select2-container > a,
.form-horizontal .input-append .select2-container-multi .select2-choices {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-horizontal .input-prepend .select2-container > a.select2-choice > div,
.form-horizontal .input-append .select2-container > a.select2-choice > div {
    display:none;
}

.form-horizontal .input-append .select2-offscreen,
.form-horizontal .input-prepend .select2-offscreen {
    position: absolute;
}

/**
 * This stops the quick flash when a native selectbox is shown and
 * then replaced by a select2 input when javascript kicks in. This can be
 * removed if javascript is not present
 */
.form-horizontal select.select2 {
    height:28px;
    visibility:hidden;
}