.form-horizontal.compact .control-group {
    margin-bottom: 2px;
}

.form-horizontal.compact hr {
    margin: 8px 0;
}

.form-horizontal button.form-btn {
    width: 8em;
    height: 2em;
}

.form-horizontal .schema-head {
     margin-top: 15px;
     margin-bottom: 5px;
     border: 1px solid #ddd;
     padding: 4px 180px;
}

.form-horizontal .sub-doc {
    padding: 5px 0;
    margin-bottom: 3px;
}

.form-horizontal .sub-doc-btns {
    margin-left: 15px;
}

.form-horizontal .schema-foot {
    padding: 5px 180px;
    margin: 5px 0;
}

.form-horizontal input[type="checkbox"].ng-invalid-required:after {
    content:"*";
    font-weight: bold;
    color: red;
/* padding-left is too small at 12 if inline help is not used*/
    padding-left: 12px
}

.form-horizontal input.ng-invalid-required {
    background-color: rgba(255, 0, 0, 0.10);
}

.search-results {
    z-index: 3;
    border: 1px solid gray;
    position: absolute;
    top: 45px;
    display: inline-block;
    right: 152px;
    -webkit-box-shadow: 10px 10px 10px #888;
    box-shadow: 10px 10px 10px #888;
    background: white;
    padding: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}