<div class="container-fluid">
    <div ng-class="css('rowFluid')">
        <div class="page-header">
            <h1>forms-angular "in the wild"</h1>
        </div>
    </div>

    <div ng-class="css('rowFluid')">
        <div ng-controller="InTheWildCtrl">
            <p>This page contains details of sites (either live or in development) that use forms-angular.  If
                you would like a site to be included please submit a pull-request on <a href="https://github.com/forms-angular/website/blob/master/app/scripts/controllers/in-the-wild.js">Github</a>.</p>

            <div ng-class="css('rowFluid')">
                <div class="well pull-left text-centre span3 col-sm-4 well-sm well-small" ng-repeat="site in sites">
                    <h4>{{site.text}}</h4>
                    <img src="/images/{{site.img}}" alt="Picture of site" height="120">
                    <ul>
                        <li ng-repeat="tag in site.tags">{{tag}}</li>
                    </ul>
                    <p class="text-center"><a ng-if="site.url" href="{{site.url}}" target="_blank">Visit Site</a></p>
                </div>
            </div>
            <p>...and this one!</p>
        </div>
    </div>
</div>