<div class="container-fluid">
    <div ng-class="css('rowFluid')">
        <div class="page-header">
            <h1>Supported By</h1>
        </div>
    </div>

    <div ng-class="css('rowFluid')">
      <a href="http://www.jetbrains.com">JetBrains</a> kindly provide open-source <a href="https://www.jetbrains.com/webstorm/" target="_blank"><img src="https://www.jetbrains.com/webstorm/documentation/docs/logo_webstorm.png" alt="WebStorm"></a> licences to the core members of the forms-angular team
    </div>
</div>
