<div class="container-fluid">
    <div ng-class="css('rowFluid')">
        <div class="page-header">
            <h1>Supported By</h1>
        </div>
    </div>

    <div ng-class="css('rowFluid')">
      <a href="http://www.jetbrains.com" target="_blank"><img src="/images/jetbrains.png" alt="Jetbrains logo" width="140" /></a> kindly provide open-source <a href="https://www.jetbrains.com/webstorm/" target="_blank"><img src="/images/icon-webstorm.png" alt="WebStorm logo" width="40" /> Webstorm</a> licences to the core members of the forms-angular team
    </div>
</div>
