<div class="btn-group pull-right">
    <button id="saveButton" class="btn btn-primary form-btn btn-xs" ng-click="save()" ng-disabled="isSaveDisabled()"><i class="glyphicon glyphicon-ok"></i> Save</button>
    <button id="cancelButton" class="btn btn-warning form-btn btn-xs" ng-click="cancel()" ng-disabled="isCancelDisabled()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
</div>
<div class="btn-group pull-right">
    <button id="newButton" class="btn btn-success form-btn btn-xs" ng-click="new()" ng-disabled="isNewDisabled()"><i class="glyphicon glyphicon-plus"></i> New</button>
    <button id="deleteButton" class="btn btn-danger form-btn btn-xs" ng-click="delete()" ng-disabled="isDeleteDisabled()"><i class="glyphicon glyphicon-minus"></i> Delete</button>
</div>