<div ng-controller="BaseCtrl">
    <error-display></error-display>
    <div ng-hide="phase == 'ready' && !showLoading" class="loading">Loading&#8230;</div>
    <div ng-hide="!showSpinner" class="spinner">Just a second&#8230;</div>
    <div ng-class="css('rowFluid')" class="page-header edit-header">
        <div class="header-lhs col-sm-8 span8">
            <h1 id="header-text">{{modelNameDisplay}} :
                <span id="header-data-desc">
                    <span ng-show="!!editFormHeader" >{{ editFormHeader() }}</span>
                    <span ng-hide="!!editFormHeader" ng-repeat="field in listSchema" ng-bind-html="getListData(record, field.name) + ' '"></span>
                </span>
            </h1>
        </div>
        <div class="header-rhs col-sm-2 span2">
            <div form-buttons></div>
        </div>
    </div>
    <div class="container-fluid page-body edit-body">
        <form-input name="baseForm" schema="baseSchema()" formstyle="compact"></form-input>
    </div>
<!--    <pre>-->
    <!--Record-->
    <!--{{ record | json }}-->
    <!--formSchema-->
    <!--{{ formSchema | json }}-->
<!--    </pre>-->
</div>
