<div ng-controller="BaseCtrl">
    <error-display></error-display>
    <div ng-hide="!showLoading" class="loading">Loading&#8230;</div>
    <div ng-class="css('rowFluid')" class="page-header list-header">
        <div class="header-lhs col-sm-8 span8">
            <h1>{{modelNameDisplay}}</h1>
        </div>
        <div class="header-rhs col-sm-2 span2">
            <a ng-href="{{generateNewUrl()}}"><button id="newBtn" class="btn btn-default"><i class="icon-plus"></i> New</button></a>
        </div>
    </div>
    <div class="page-body list-body">
        <div ng-class="css('rowFluid')" infinite-scroll="scrollTheList()">
            <a ng-repeat="record in recordList" ng-href="{{generateEditUrl(record)}}">
                <div class="list-item">
                    <div ng-class="css('span',12/listSchema.length)" ng-repeat="field in listSchema">{{getListData(record, field.name)}} </div>
                </div>
            </a>
        </div>
    </div>
</div>
