<form class="pull-right navbar-form">
    <div id="search-cg" class="form-group" ng-class="errorClass">
        <input type="text" spellcheck="false" autocomplete="off" id="searchinput" ng-model="searchTarget" ng-model-options="{debounce:500}" class="search-query form-control" placeholder="{{searchPlaceholder}}" ng-keyup="handleKey($event)">
    </div>
</form>
<div class="results-container" ng-show="results.length >= 1">
    <div class="search-results">
        <div ng-repeat="result in results">
            <a href="{{result.href}}" ng-class="resultClass($index)" title="{{result.additional}}">{{result.resourceText}} {{result.text}}</a>
        </div>
        <div ng-show="moreCount > 0">(plus more - continue typing to narrow down search...)
        </div>
    </div>
</div>
