<div ng-controller="BaseCtrl">
    <!--This is the header section-->
    <div class="page-header edit-header row-fluid">
        <!--The left hand side contains important fields from the data-->
        <div class="header-lhs span9">
            <h4>{{modelNameDisplay}} :
                <span ng-repeat="field in listSchema">{{getListData(record, field.name)}} </span>
            </h4>
        </div>
        <!--The right hand side contains buttons to Save, Cancel, Delete and create New-->
        <div class="header-rhs span2">
            <div form-buttons></div>
        </div>
    </div>
    <div class="container-fluid page-body edit-body">
        <!--This section only appears when there is an error message to display-->
        <div ng-show="errorMessage" class="row-fluid">
            <div class="span6 offset3 alert alert-error">
                <button type="button" class="close" ng-click="dismissError()">&times;</button>
                <h4>{{alertTitle}}</h4>
                <div ng-bind-html="errorMessage"></div>
            </div>
        </div>
        <form-input name="baseForm" schema="baseSchema()" formStyle="horizontalCompact"></form-input>
    </div>
</div>
