<div ng-controller="BaseCtrl">
    <!--This is the header section-->
    <div ng-class="css('rowFluid')" class="page-header edit-header">
        <!--The left hand side contains important fields from the data-->
        <div class="header-lhs col-sm-8 span8">
            <h4>{{modelNameDisplay}} :
                <span ng-repeat="field in listSchema">{{getListData(record, field.name)}} </span>
            </h4>
        </div>
        <!--The right hand side contains buttons to Save, Cancel, Delete and create New-->
        <div class="header-rhs col-sm-2 span2">
            <div form-buttons></div>
        </div>
    </div>
    <div class="container-fluid page-body edit-body">
        <!--This section only appears when there is an error message to display-->
        <div id="display-error" ng-show="errorMessage" ng-class="css('rowFluid')">
            <div class="alert alert-error col-lg-offset-3 offset3 col-sm-6 span6 alert-warning alert-dismissable">
                <button type="button" class="close" ng-click="dismissError()">×</button>
                <h4>{{alertTitle}}</h4>
                <div ng-bind-html="errorMessage"></div>
            </div>
        </div>
        <form-input name="baseForm" schema="baseSchema()" formstyle="compact"></form-input>
    </div>
</div>