<div ng-controller="AnalysisCtrl">
    <div class="container-fluid page-header report-header">
        <div class="row-fluid">
            <div class="header-lhs span7">
                <h1>{{ reportSchema.title }}</h1>
            </div>
            <div class="header-rhs span4">
                <form-input schema="paramSchema" name="paramForm" ng-show="paramSchema" formstyle="horizontalCompact"></form-input>
            </div>
        </div>
    </div>
    <div class="container-fluid page-body report-body">
        <div ng-show="errorMessage" class="row-fluid">
            <div class="span6 offset3 alert alert-error">
                <button type="button" class="close" ng-click="dismissError()">&times;</button>
                <h4>{{alertTitle}}</h4>
                <div ng-bind-html="errorMessage"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>
</div>

