<div ng-controller="BaseCtrl" class="row-fluid">
    <div class="hero-unit span12">
        <div class="row-fluid">
            <div class="pull-left">
                <h1>{{modelNameDisplay}}</h1>
            </div>
            <div class="pull-right">
                <div>
                    <br/>
                    <button class="btn" ng-click="new()"><i class="icon-plus"></i> New</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid" infinite-scroll="scrollTheList()">
        <a ng-repeat="record in recordList | filter:recordFilter" ng-href="/#/{{modelName}}/{{formPlusSlash}}{{record['_id']}}/edit">
            <div class="well well-small list-well">
                <div class="span{{12/listSchema.length}}" ng-repeat="field in listSchema">{{getListData(record, field.name)}} </div>
            </div>
        </a>
    </div>
</div>

