<div data-ng-controller="BaseCtrl">
    <div class="row-fluid">
        <div class="span8 well">
            <h3>This is a custom form to collect new data</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div>
            <p>When the users clicks on Submit they are redirected to a confirmation page.  The button markup is of the form: </p>
            <pre>&ltbutton type="button" ng-click="save({'redirect':'/demo/thank-you.html'})"&gtSubmit&lt/button&gt</pre>
        </div>
        <div>
            <form-input schema="formSchema" name="customNew" formStyle="horizontalCompact"></form-input>
        </div>
    </div>
    <div class="form-actions">
        <button type="button" class="btn btn-primary" ng-click="save({'redirect':'/demo/thank-you.html'})">Submit</button>
    </div>
</div>


