<div ng-controller="ModelCtrl">
<h1>Welcome to forms-angular</h1>

<p>All the input forms in the demo application use a very simple one line view:</p>
<pre>&ltform-input ng-repeat="field in formSchema" info="{{field}}"&gt&lt/form-input&gt</pre>
<p>which generates the forms on the client using the Mongoose schemas, optionally fine-tuned by hand.</p>

<p>This demo application uses the following models:</p>
<table class="table table-striped table-condensed">
    <tr ng-repeat="model in models | orderBy:'resource_name'">
        <td>{{model.resource_name}}</td>
        <td><a href="/code/{{model.resource_name}}.js">View schema</a></td>
        <td><a href="/#/{{model.resource_name}}/new">New</a></td>
        <td><a href="/#/{{model.resource_name}}">List</a></td>
    </tr>
</table>

<p>For each model the following routes are supported:</p>

<ol>
    <li><strong>/#/:model</strong> which lists the documents in the collection, with links to the form for editing them</li>
    <li><strong>/#/:model/new</strong> which enables the user to create a new document using the default form for the collection</li>
    <li><strong>/#/:model/:id/edit</strong> which enables the user to edit a document</li>
</ol>

<p>It is easy to create custom form schemas which are a subset of the whole schema by specifying the fields
    to include and any options.  See the static in <a href="/code/b_using_options.js">this example</a>.
    The custom form schemas are invoked as follows:
</p>
<ol>
    <li><strong>/#/:model/:formschema/new</strong> (<a href="/#/b_using_options/justname/new">example here</a>)</li>
    <li><strong>/#/:model/:formschema/:id/edit</strong></li>
</ol>

<p>The Angular controllers make use of the following API calls:</p>
    
<ol>
    <li><strong>/api/models</strong> returns an array of all the models that are available to forms-angular</li>
    <li><strong>/api/schema/:model</strong> returns the schema for a model</li>
    <li><strong>/api/:model</strong> returns an array of all the documents in a model (needs pagination)</li>
    <li><strong>/api/:model/:id</strong> returns a single document from the collection</li>
</ol>
</div>