<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My App</title>
    <base href="/">

    <script type="text/javascript" src="/bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="/bower_components/underscore/underscore.js"></script>

    <!-- The next one is for bs2 -->
    <script type="text/javascript" src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <!-- The next one is for bs3 -->
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script type="text/javascript" src="/bower_components/angular-ui-date/src/date.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-select2/src/select2.js"></script>
    <script type="text/javascript" src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="/bower_components/jspdf/dist/jspdf.debug.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/js/bootstrap-collapse.js"></script>
    <link rel="stylesheet" href="/bower_components/ng-grid/ng-grid.css">
    <script type="text/javascript" src="/bower_components/ng-grid/ng-grid-2.0.9.debug.js"></script>
    <link rel="stylesheet" href="/bower_components/select2/select2.css">
    <script type="text/javascript" src="/bower_components/angular-elastic/elastic.js"></script>
    <script type="text/javascript" src="/bower_components/select2/select2.js"></script>
    <script type="text/javascript" src="/bower_components/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/bower_components/ng-ckeditor/ng-ckeditor.src.js"></script>
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv-dist/html5shiv.js"></script>
    <![endif]-->

    <!--forms-angular stuff-->
    <!--<link rel="stylesheet" href="/bower_components/forms-angular/forms-angular-bs2.css">-->
    <!--<script type="text/javascript" src="/bower_components/forms-angular/forms-angular.js"></script>-->
    <link rel="stylesheet" href="https://rawgit.com/mchapman/forms-angular/bootstrap-3/app/css/forms-angular-bs2.css">
    <script type="text/javascript" src="https://rawgit.com/mchapman/forms-angular/bootstrap-3/dist/scripts/ed9f2098.lib.js"></script>

    <script src="/myapp.js"></script>

</head>

<!--The NavCtrl controller is responsible for parsing the URL and loading the menu for the model and form-->
<body ng-app="myApp" ng-controller="NavCtrl">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid" ng-cloak>
            <button type="button" class="navbar-toggle btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-bar icon-bar"></span>
                <span class="glyphicon glyphicon-bar icon-bar"></span>
                <span class="glyphicon glyphicon-bar icon-bar"></span>
            </button>
            <div class="pull-left">
                <a class="navbar-brandpluslogo brandpluslogo" ng-href="{{buildUrl('index')}}">Demo</a>
            </div>
            <div class="visible-lg visible-desktop pull-right col-md-2 span2"></div>      <!-- Leave some space for github flash -->
            <global-search class="global-search"></global-search>
            <div class="navbar-collapse collapse nav-collapse">
                <ul class="nav navbar-nav">
                    <li ng-show="items.length > 0" class="dropdown">
                        <a class="dropdown-toggle">
                            {{contextMenu}}
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="choice in items">
                                <a class="dropdown-option" ng-hide="isHidden($index)" ng-href="{{choice.url}}" ng-click="doClick($index)">{{choice.text}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-view></div>

</body>

</html>