<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>forms-angular</title>

    <!-- what forms-angular depends on -->
    <script type="text/javascript" src="components/jquery/jquery.js"></script>
    <script type="text/javascript" src="components/jquery-ui/ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="components/jquery-ui/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="components/angular/angular.js"></script>
    <script type="text/javascript" src="components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="components/underscore/underscore.js"></script>
    <link rel="stylesheet" href="components/bootstrap.css/css/bootstrap.css">
    <link rel="stylesheet" href="components/bootstrap.css/css/bootstrap-responsive.css">
    <script type="text/javascript" src="components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script> <!-- is now in fngTabs.js  -->
    <script type="text/javascript" src="components/angular-ui-date/src/date.js"></script>
    <script type="text/javascript" src="components/angular-ui-select2/src/select2.js"></script>
    <script type="text/javascript" src="components/ngInfiniteScroll/ng-infinite-scroll.js"></script>
    <link rel="stylesheet" href="components/ng-grid/ng-grid.css">
    <script type="text/javascript" src="components/ng-grid/build/ng-grid.js"></script>

    <link rel="stylesheet" href="components/select2/select2.css">
    <script type="text/javascript" src="components/angular-elastic/elastic.js"></script>
    <script type="text/javascript" src="components/select2/select2.js"></script>

    <!-- forms-angular stuff -->
    <link rel="stylesheet" href="css/forms-angular.css">
    <link rel="stylesheet" href="css/demo.css">
    <script src="js/forms-angular.js"></script>
    <script src="js/services/location-parse.js"></script>
    <script src="js/services/data.js"></script>
    <script src="js/services/utils.js"></script>
    <script src="js/controllers/base.js"></script>
    <script src="js/controllers/analysis.js"></script>
    <script src="js/controllers/model.js"></script>
    <script src="js/controllers/searchbox.js"></script>
    <script src="js/controllers/nav.js"></script>
    <script src="js/directives/form.js"></script>
    <script src="js/directives/form-buttons.js"></script>
    <script src="js/directives/hide-on-empty.js"></script>
    <script src="js/directives/subdoc-repeat.js"></script>
    <script src="js/directives/ngGridTotalCell.js"></script>
    <script src="js/filters/titlecase.js"></script>

    <!--stuff that we have had to mess with-->
    <script src="js/directives/fngTabs.js"></script>

    <!--Demo application stuff-->
    <script src="demo/demo.js"></script>
    <script src="demo/bespoke-field.js"></script>
    <script src="demo/b-using-options.js"></script>
    <script src="demo/b-using-options-justnameandpostcode.js"></script>
    <script src="demo/d-array-example.js"></script>

    <!--[if lt IE 9]>
    <script src="components/html5shiv-dist/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if (window.location.hostname != '0.0.0.0') {
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-3037487-9']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        }
    </script>
</head>
<body ng-app="myDemoApp" ng-controller="NavCtrl">
<a href="https://github.com/mchapman/forms-angular"><img src="img/forkme_right_darkblue_121621.png"
                                                         style="position: fixed; right: 0; top: 0;"></a>

<div class="navbar row" ng-hide="routing.index">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li ng-show="items.length > 0" class="dropdown" >
                <a class="dropdown-toggle">
                    {{contextMenu}}
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="choice in items">
                        <a class="dropdown-option" ng-href="{{choice.url}}" ng-click="doClick($index)">{{choice.text}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="span9">
            <div ng-controller="SearchCtrl" class="global-search">
                <form class="navbar-search pull-right">
                    <div id="search-cg" class="control-group" ng-class="errorClass">
                        <input type="text" ng-model="searchTarget" class="search-query" placeholder="Search">
                    </div>
                </form>
                <div class="results-container" ng-show="results.length >= 1">
                    <div class="search-results">
                        <div ng-repeat="result in results"><a class="search-result" ng-href="#/{{result.resource}}/{{result.id}}/edit">{{result.resourceText}}
                            {{result.text}}</a></div>
                        <div ng-show="moreCount > 0">(plus more - continue typing to narrow down search...)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div ng-view></div>
</div>

</body>
</html>
