<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>forms-angular</title>

    <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }</style>

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/bower_components/select2/select2.css">
    <link rel="stylesheet" href="/bower_components/ng-grid/ng-grid.css">
    <link rel="stylesheet" href="/demo/css/demo-bs2.css">
    <!-- endbuild -->
</head>
<body ng-app="myDemoApp" ng-controller="NavCtrl" ng-keyup="globalShortcuts($event)">
<div class="visible-lg visible-desktop">
    <a href="https://github.com/mchapman/forms-angular"><img src="/img/forkme_right_darkblue_121621.png" style="position: fixed; right: 0; top: 0; z-index: 1032;"></a>
</div>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid" ng-cloak>
        <button type="button" class="navbar-toggle btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-bar icon-bar"></span>
            <span class="glyphicon glyphicon-bar icon-bar"></span>
            <span class="glyphicon glyphicon-bar icon-bar"></span>
        </button>
        <div class="pull-left">
            <a class="navbar-brandpluslogo brandpluslogo" ng-href="{{buildUrl('index')}}"><img src="/img/Home_icon_black.png" width="45" alt="Click on logo to go to home page" class="img-responsive" /></a>
        </div>
        <div class="visible-lg visible-desktop pull-right col-md-2 span2"></div>      <!-- Leave some space for github flash -->
        <global-search class="global-search"></global-search>
        <div class="pull-right ghb" style="padding-top: 14px;"><iframe src="http://ghbtns.com/github-btn.html?user=mchapman&repo=forms-angular&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe><iframe src="http://ghbtns.com/github-btn.html?user=mchapman&repo=forms-angular&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></div>
        <div class="navbar-collapse collapse nav-collapse">
            <ul class="nav navbar-nav">
                <li><a ng-href="{{buildUrl('get-started')}}">Get Started</a></li>
                <li><a ng-href="{{buildUrl('schemas')}}">Schemas</a></li>
                <li><a ng-href="{{buildUrl('forms')}}">Forms</a></li>
                <li><a ng-href="{{buildUrl('reporting')}}">Reporting</a></li>
                <li class="dropdown"><a class="dropdown-toggle">More</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-option" ng-href="{{buildUrl('examples')}}">Examples</a></li>
                        <li><a class="dropdown-option" ng-href="{{buildUrl('api-docs')}}">API Documentation</a></li>
                        <li><a class="dropdown-option" href="http://webchat.freenode.net/?channels=forms-angular" target="_blank">Chat Room</a></li>
                        <li><a class="dropdown-option" href="https://github.com/mchapman/forms-angular/issues?state=open">Issues</a></li>
                        <li><a class="dropdown-option" href="https://github.com/mchapman/forms-angular/releases">Changelog</a></li>
                        <li><a class="dropdown-option" ng-href="{{buildUrl('in-the-wild')}}">Who Uses It?</a></li>
                    </ul>
                </li>
                <li ng-show="items.length > 0" class="dropdown">
                    <a class="dropdown-toggle">
                        {{contextMenu}}
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="choice in items">
                            <a class="dropdown-option" ng-hide="isHidden($index)" ng-href="{{choice.url}}" ng-click="doClick($index)">{{choice.text}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
        </div>
</div>
<div ng-view></div>
<footer class="footer">
    <p>Code licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
    <ul class="footer-links">
        <li><a href="https://github.com/mchapman/forms-angular/issues?state=open">Issues</a></li>
        <li class="muted">·</li>
        <li><a href="https://github.com/mchapman/forms-angular/releases">Changelog</a></li>
    </ul>
</footer>
<!-- what forms-angular depends on -->
<!-- *** Section must be copied to partials/get-started/index.html if it is changed *** -->
<!-- build:js scripts/plugins.js -->
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="/bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-date/src/date.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-select2/src/select2.js"></script>
<script type="text/javascript" src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<script type="text/javascript" src="/bower_components/jspdf/dist/jspdf.debug.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/js/transition.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/js/collapse.js"></script>
<script type="text/javascript" src="/bower_components/ng-grid/ng-grid-2.0.7.debug.js"></script>
<script type="text/javascript" src="/bower_components/angular-elastic/elastic.js"></script>
<script type="text/javascript" src="/bower_components/select2/select2.js"></script>
<script type="text/javascript" src="/bower_components/ng-ckeditor/ng-ckeditor.js"></script>
<script src="bower_components/blueimp-load-image/js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="bower_components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js"></script>
<!-- blueimp Gallery script -->
<script src="bower_components/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="bower_components/angular-jqfile-upload/dist/uploader.js"></script>
<!-- endbuild -->
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
<![endif]-->

<!--<script type="text/javascript" src="/bower_components/ckeditor/ckeditor.js"></script>-->
<script>
    var CKEDITOR_BASEPATH = '//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.3.2/';
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.3.2/ckeditor.min.js"></script>

<!-- forms-angular stuff -->
<!--This section needs to stay in sync with the concat section of the Gruntfile-->
<!-- build:js scripts/lib.js -->
<script src="/js/forms-angular.js"></script>
<script src="/generated/app.templates.js"></script>
<script src="/js/services/location-parse.js"></script>
<script src="/js/services/data.js"></script>
<script src="/js/services/url-utils.js"></script>
<script src="/js/services/form-routes.js"></script>
<script src="/js/services/utils.js"></script>
<script src="/js/services/css-framework.js"></script>
<script src="/js/services/state-parse.js"></script>
<script src="/js/controllers/base.js"></script>
<script src="/js/controllers/analysis.js"></script>
<script src="/js/controllers/model.js"></script>
<script src="/js/controllers/nav.js"></script>
<script src="/js/directives/form.js"></script>
<script src="/js/directives/form-buttons.js"></script>
<script src="/js/directives/search.js"></script>
<script src="/js/directives/ngGridTotalCell.js"></script>
<script src="/js/plugins/ng-grid/ng-grid-csv-export.js"></script>
<script src="/js/plugins/ng-grid/ng-grid-pdf-export.js"></script>
<script src="/js/plugins/jsPDF/jspdf-plugin.cell.js"></script>
<script src="/js/filters/titlecase.js"></script>
<!-- endbuild -->

<!--Demo application stuff-->
<!-- build:js scripts/app.js -->
<script src="/demo/demo.js"></script>
<script src="/demo/directives/bespoke-field.js"></script>
<script src="/demo/directives/affix.js"></script>
<script src="/demo/directives/friends.js"></script>
<script src="/demo/controllers/demo.js"></script>
<script src="/demo/controllers/b-using-options.js"></script>
<script src="/demo/controllers/in-the-wild.js"></script>
<script src="/demo/controllers/b-using-options-justnameandpostcode.js"></script>
<script src="/demo/controllers/d-array-example.js"></script>
<script src="/demo/controllers/h_deep_nesting.js"></script>
<!-- endbuild -->

<script type="text/javascript">
    if (window.location.hostname != '0.0.0.0') {
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3037487-9']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    }
</script>

</body>
</html>
