<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Minimal forms-angular app</title>

    <!-- JS from CDNs -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.3.2/select2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui-ieshiv.min.js"></script>
    <![endif]-->

    <!-- CSS from CDNs -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.3.2/select2.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.css" >

    <!-- Local libraries JS -->
    <script src="lib/forms-angular.min.js"></script>
    <script src="lib/ui-bootstrap-custom-tpls-0.4.0-SNAPSHOT.min.js"></script>
    <script src="components/angular-ui-select2/src/select2.js"></script>
    <script src="components/angular-ui-date/src/date.js"></script>

    <!-- Local libraries CSS -->
    <link rel="stylesheet" href="css/forms-angular.css">

    <!-- Files specific to this project -->
    <script src="js/example.js"></script>
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/#/index">Home</a>
        <div>
            <ul class="nav">
                <li ng-controller="NavCtrl" ng-show="items.length > 0" class="dropdown" >
                    <a class="dropdown-toggle">
                        {{contextMenu}}
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="choice in items">
                            <a href="{{choice.url}}" ng-click="doClick($index)">{{choice.text}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div ng-controller="SearchCtrl" class="global-search">
                <form class="navbar-search pull-right">
                    <div id="search-cg" class="control-group" ng-class="errorClass">
                        <input type="text" ng-model="searchTarget" class="search-query" placeholder="Search">
                    </div>
                </form>
                <div class="search-results" ng-show="results.length >= 1">
                    <div ng-repeat="result in results"><a ng-href="#/{{result.resource}}/{{result.id}}/edit">{{result.resource}}
                        {{result.text}}</a></div>
                    <div ng-show="moreCount > 0">(plus more - continue typing to narrow down search...)</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid main-section">
        <div ng-view></div>
    </div>
</div>
</body>
</html>

